h1 {
    text-align: left;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pic{
    margin: 2%;
    width: 560px;
    height: 315px;
}
.twoPic{
    margin: 2%;
    width: 280px;
    height: 158px;  
}

@keyframes grow{
    0%{
        transform: scale(0.4);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

#changeDannyPic:hover{
    content: url("file:///C:/Users/matth/Pictures/WhatsApp%20Image%202023-10-18%20at%2012.08.37_47441e10.jpg");
}

button{
    /* width: 250px;
    height: 100px; */

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: ; */

    display: flex;
    margin: 3%;

    background-color:dodgerblue;
    color: white;

    /* transition-property: transform ;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: all 0.3s;
}
@keyframes multicolor{
    0%{
        border-color: #ff0000;
    }
    14%{
        border-color: orange;
    }
    28%{
        border-color: yellow;
    }
    42%{
        border-color: green;
    }
    56%{
        border-color: blue;
    }
    70%{
        border-color: indigo;
    }
    84%{
        border-color: violet;
    }
    100%{
        border-color: red;
    }
}
.menus{
    max-height: fit-content;
}


@keyframes animatedborder {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
button:hover{
    cursor:pointer;
    background-color: slateblue;
    color: white;
    /* border-radius: 7%; */
    border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
    animation: animatedborder 1.3s infinite;
    transform: translate(1px,-5px);
}

#homeButton{
    position: absolute;
    bottom: 87%;
    right: 2%;
    max-width: min-content;
    text-decoration: none;
    animation: grow 1s;
}

@keyframes slideFromBottom{
    from{   
        transform: translateY(250px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slideFromAngle{
    from{   
        transform: translateY(250px);
        transform: translateX(250px);
    }
    to{
        transform: translateY(0);
        transform: translateX(0);
    }
}
.slideFromAngle{
    animation: slideFromAngle 1s ease;
    display: inline-block;
}

#picAndStats{
    display: flex;
    animation: slideFromBottom 1s ease;
}

@keyframes bounce{
    0%,20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-5px);
    }
    80%,100%{
        transform:translateY(0);
    }
}


.menus{

    animation: bounce 1.2s ease-in 0.6s ;
}

body{
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2xvYmFsfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:cover;
    
    font-size: larger;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   
}

iframe{
    margin: 0.5%;
}
/* https://www.simpleimageresizer.com/_uploads/photos/207bd0ea/nasa-Q1p7bh3SHj8-unsplash_1_29.jpg */
